*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.litertlm
*.bin

# Temporary and Large Files
.venv/
.venv_wsl/
*.zip
qairt_sdk/
qualcomm_runtime_v*/
runtime_strings/
scratch/
view.xm
google_tensor_runtime/
